.link {
	text-align: center;
	width: 150px;
	color: white;
	text-decoration: none;	
	padding: 5px;
	transition: all 0.35s;
}

.link:hover{
	background-color: white;
	color: #012;
}

.pic{
	margin-top: 5%;
}

.Mary{
	float: left;
	margin-top: -100px;
}

.Nav {
	display: inline-block;
	border-bottom: 1px solid white;
	height: 50px;
	margin-top: 7%;
	margin-left: 2%;
	margin-right: 2%;
}

.logo{
	margin-left: 10%;
	margin-top: 10%;
	width: 150px;
	height: 150px;
	text-align: center;
	border-radius: 15px;
	border: white 1px solid;

}

.container{
	z-index: 999;
	position: absolute;
	display: grid;
	grid-template-columns: 175px auto;
}

.starContainer{
	z-index: -9999;
	position: absolute;
	width: 99.5%;
	top:0;
	bottom:0;
	overflow: hidden;
	display: grid; 
	grid-template-columns: repeat(20, 1fr); 
	grid-template-rows: repeat(20, 1fr); 
	gap: 50px 20px; 
}

img{
	max-width: 80%;
	max-height: 80%;
}

.soy {
	max-width: 2.5%;
	max-height: 2.5%;
}

/*img {
  padding: 75px;
  border: 5px solid white;
  border-radius: 15px;
}*/


.Main{
	border: white 1px solid;
	border-radius: 15px;
	margin-top: 1%;
	margin-left: 2%;
	margin-right: 2%;
	padding: 0px 20px 10px;
	color: white;
	background-color: rgba( 155, 155, 155, 0.09 );
}

body{ background-color: #012; }

h1,a,p,td{ color: white; }

.star{ 
	width: 1fr;
	height: 1vh;
}

span{
	position: relative;
	min-width: 1px;
  	height: 1px;
  	transform-origin: right;
	background-color: white;
}

span::before {
	content: "";
  	position: absolute;
  	top: 150%;
  	left: -8px;
  	width: 2px;
  	height: 2px;
  	background: white;
  	border-radius: 50%;

  	transition: all 0.5s;
}

.star:hover span{
  	transform: scale(1.5);
}

span:nth-child(2n)::before{
  	box-shadow:
  	  	0 0 3px 1px #fafaffaa,  /* inner white */
  	  	0 0 5px 2px #fafaff11, /* middle magenta */
  	  	0 0 5px 3px #ffffff11; /* outer cyan */

  	margin-left:   calc(-2px * var(--i));
  	margin-top:    calc(2px * var(--i));
}

span:nth-child(2n+1)::before{
	box-shadow:
    		0 0 3px 1px #fafaffaa,  /* inner white */
    		0 0 5px 2px #fafaff11, /* middle magenta */
    		0 0 5px 3px #ffffff11; /* outer cyan */

	margin-left:   calc(3px * var(--i));
  	margin-top:    calc(-2px * var(--i));
}

pre{
	padding: 15px;
	background-color: black;
	border: 1px solid white;
	color: white;
	border-radius: 15px;
}
